In [1]:
import json
import numpy as np
import pandas as pd
import requests

In [20]:
stations = requests.get("https://gbfs.citibikenyc.com/gbfs/en/station_information.json")
#stations_realtime_status = requests.get("https://gbfs.citibikenyc.com/gbfs/en/station_status.json")

In [21]:
l = stations.json().get('data').get('stations')
l[0]

{'has_kiosk': True,
 'station_id': '72',
 'legacy_id': '72',
 'name': 'W 52 St & 11 Ave',
 'region_id': '71',
 'electric_bike_surcharge_waiver': False,
 'lat': 40.76727216,
 'eightd_station_services': [],
 'rental_uris': {'android': 'https://bkn.lft.to/lastmile_qr_scan',
  'ios': 'https://bkn.lft.to/lastmile_qr_scan'},
 'short_name': '6926.01',
 'rental_methods': ['KEY', 'CREDITCARD'],
 'capacity': 55,
 'station_type': 'classic',
 'eightd_has_key_dispenser': False,
 'lon': -73.99392888,
 'external_id': '66db237e-0aca-11e7-82f6-3863bb44ef7c'}

In [25]:
l_clean = []
for stat in l:
    station = [stat.get('lat'), stat.get('lon'), stat.get('name'), stat.get('station_id'),stat.get('capacity')]
    l_clean.append(station)
    
#print(l_clean)

In [27]:
df_stations = pd.DataFrame(l_clean, columns = ['latitude', 'Longitude','name','id','capacity']) 
df_stations.head()

    latitude  Longitude                           name   id  capacity
0  40.767272 -73.993929               W 52 St & 11 Ave   72        55
1  40.719116 -74.006667       Franklin St & W Broadway   79        33
2  40.711174 -74.000165         St James Pl & Pearl St   82        27
3  40.683826 -73.976323  Atlantic Ave & Fort Greene Pl   83        62
4  40.741776 -74.001497                W 17 St & 8 Ave  116        50

In [29]:
# Saving data
df_stations.to_csv('Stations.csv', index = False)